<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337343333139-tdn908s0he1p9fova6bl8li6d6famig7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337343333139-tdn908s0he1p9fova6bl8li6d6famig7</string>
	<key>API_KEY</key>
	<string>AIzaSyBe2fL8LK42C_sDqHVQ4v8NQnIyVfMre9A</string>
	<key>GCM_SENDER_ID</key>
	<string>337343333139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.retrieval.retrievalapp</string>
	<key>PROJECT_ID</key>
	<string>csretrieval</string>
	<key>STORAGE_BUCKET</key>
	<string>csretrieval.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337343333139:ios:684e72011cd405cbeb50e6</string>
</dict>
</plist>